@import 'variables';

.footer-container {
    background-color: $colore !important;
}

footer {
    ul {
        li {
            a {
                color: white !important;
            }
        }
    }

    .copy {
        font-size: 0.8rem;
    }
}