<div
  class="container-flex homePhoto d-flex justify-content-center align-items-center"
>
  <div class="row">
    <div class="col-12">
      <!-- <img src="../../assets/home.jpg" alt="" /> -->
      <div
        class="whereContainer container-flex container-md d-flex justify-content-center align-items-center"
      >
        <form
          action=""
          class="form-control p-4"
          id="whereForm"
          (ngSubmit)="submit()"
        >
          <div class="" id="whereInput">
            <label for="formGroupExampleInput" class="form-label"
              >Where do you want to go?</label
            >
            <input
              name="searchString"
              type="text"
              class="form-control form-control-lg"
              id="formGroupExampleInput"
              placeholder="Enter a State"
              [(ngModel)]="searchString"
            />
            <div class="d-grid mt-2">
              <button type="button" class="btn btn-success" (click)="submit()">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-flex mt-3" id="homeCards">
  <div
    class="d-flex justify-content-center text-success mt-5"
    *ngIf="isFetching"
  >
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row mb-5" id="homeCardsRow">
    <h1 class="text-center text-muted my-4">Suggested from us</h1>
    <div
      class="col-12 d-flex flex-wrap justify-content-center"
      id="homeCardsCol"
    >
      <div
        class="card m-3"
        *ngFor="let card of customers | slice: 0:5; let i = index"
      >
        <img src="{{ card.photo1 }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title fs-3">{{ card.address.beachName }}</h5>
          <p class="location text-muted mb-1">
            <i class="bi bi-geo-alt"></i> {{ card.address.city }},
            {{ card.address.state }}
          </p>
          <p class="card-text">
            {{ card.address.beachDescription }}
          </p>
          <a
            href="#"
            class="btn btn-success d-grid"
            [routerLink]="['/details', card.id]"
            >Check</a
          >
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2"></div> -->
  </div>
</div>
