#titcontatti {
    text-align: center;
}

#contatti #contatti-in #titcontatti hr {
    color: black;
}


#contatti {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
}

#contatti span {
    color: rgb(255, 60, 0);
}

#contatti h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

#titcontatti span {
    font-size: 2rem;
}

#contatti {
    padding-left: 15px;
    padding-right: 15px;
}

#contatti-in hr {
    height: 1px;
    border-width: 2;
    background-color: black;
    margin-bottom: 20px;
}



#contatti-in input {
    width: 100%;
    margin-bottom: 10px;
}

#contatti-in textarea {
    text-align: left;
    width: 100%;
    height: 90px;
}

#contatti-in form {
    width: 100%;
}

#contatti-in {
    text-align: center;
}

#contatti-in h3 {
    text-align: left;
}





#contatti-in button {
    margin-top: 20px;
    padding: 15px 120px;
    border: 0;
    background-color: rgb(255, 60, 0);
    color: white;

}

#contatti-in button:hover {
    cursor: pointer;
    background-color: red;
}

#contact-info {
    margin-bottom: 70px;
}

#contatti h3 {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

#photo-stream h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}


#photo-stream img {
    margin-right: 15px;
}

#contact-info i {
    margin-right: 20px;
}

#contatti-out p {
    font-size: 0.7rem;
}

@media screen and (min-width:1200px) {
    #contatti {
        display: flex;
        flex-direction: column;

    }

    #contatti-out {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;
    }

    #contact-info {
        margin-right: 10vw;
    }

    #blog-posts {
        padding-left: 40px;
        padding-right: 40px;
    }

    #stream-us {
        margin-left: 10vw;
    }

    footer {
        margin-top: 100px
    }

    #contatti-in button {
        float: right;
    }
}

#follow-us {
    display: flex;
    flex-direction: column;
}

#gruppo-icone {
    display: flex;
    flex-direction: row;
}

#ico-twitter,
#ico-fb,
#ico-browser,
#ico-behance {
    margin-right: 10px;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 100%;
}




@media screen and (max-width: 1200px) {
    #contatti {
        display: flex;
        flex-direction: column;

    }

    #contatti-out {
        display: flex;
        flex-direction: row;
    }

    #blog-posts {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contatti-in button {
        float: right;
    }

}

@media screen and (min-width:992px) {
    #contatti {
        height: 600px;
    }
}


@media screen and (max-width: 992px) {

    #contatti-out {
        display: flex;
        flex-direction: column;
    }

    #blog-posts {
        padding-left: 0px;
        padding-right: 0px;
    }

    #contatti-in button {
        float: none;
    }

}

@media screen and (max-width: 768px) {
    #contatti {
        display: flex;
        flex-direction: column;
    }

    #contatti-out {
        display: flex;
        flex-direction: column;
    }
}