#featured {
    margin: 0 5px;
    position: relative;
    background-color: #fff;
}

#slider-title {
    padding: 60px 0 30px;
    position: relative;
}

#slider-title h3 {
    font-size: 1.1em;
}

#slider-title h3 span {
    color: #FF5333;
}

#slider-title .next {
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 0;
    color: #AA9D84;
    font-size: 30px;
}

#slider {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    overflow: hidden;
}

#slider img {
    border-radius: 5px;
    padding-bottom: 50px;
    height: 170px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #dadada;
    border-radius: 100%;
    display: inline-block;
    margin: 0;
}

.active {
    background-color: #FF5333;
}

#dots-slider {
    text-align: center;
    padding-bottom: 60px;
}

@media screen and (max-width: 479px) {
    #slider img {
        width: 100vw;
    }
}

@media screen and (min-width: 480px) {

    #slider-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #slider img {
        width: 50vw;
    }

    .dot-2,
    .dot-4,
    .dot-6,
    .dot-8 {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    #featured {
        max-width: 640px;
        margin: 0 auto;
    }

    #featured {
        padding: 50px 0px;
        padding: 0 40px;
    }

    #dots-slider .middle-2 {
        display: none;
    }

    #slider img {
        padding-right: 0px;
        width: 95%;
        width: 205px;
        border-radius: 2px;
        padding-right: 10px;
    }

    .dot-7 {
        display: none;
    }
}

@media screen and (min-width: 980px) {
    #slider img {
        width: 152px;
        height: 121px;
    }

    .dot-3 {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #featured {
        max-width: 860px;
    }

    #slider img {
        padding-right: 30px;
        width: 185px;
        height: 147px;
        border-radius: 2px;
    }
}

@media screen and (min-width: 1200px) {
    #featured {
        max-width: 1060px;
    }

    #slider img {
        padding-right: 30px;
        width: 235px;
        height: 187px;
        border-radius: 2px;
    }
}