#menu {

    background-color: white;
    padding-bottom: 250px;
}

#menu-prezzi {
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 100px;
}

#menu-prezzi button {
    padding: 30px 80px;

    background-color: white;
    border-color: orangered;
    color: orangered;
    float: right;

}

#menu-prezzi button:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}

#menu-titolo h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;

    color: black;
    padding-top: 80px;
    padding-bottom: 40px;
}

.hrhr {
    width: 150px;
    color: rgb(177, 173, 173);
    margin-bottom: 40px;
    border: 0.5px solid;
    text-align: center;

}


#menu-titolo span {
    font-size: 2.3rem;
    color: rgb(255, 60, 0);
    margin-left: 10px;
    margin-right: 10px;
}

#menu-titolo p {
    font-size: 0.75rem;
    font-weight: bold;
    color: grey;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.5rem;
    padding-bottom: 100px;
}

#menu-prezzi-titolo h2 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 40px;
}

#menu-titolo-span {
    color: rgb(255, 60, 0);
}

.pietanza {

    display: flex;
    flex-direction: column;
}

.pietanza h2 {
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    border-bottom: none;
    background: white;
    margin: 0;
    white-space: nowrap;
}



.pietanza p {
    margin-right: 90px;
    font-size: 0.65rem;
    font-weight: bolder;
    color: grey;
    padding-top: 30px;
    padding-bottom: 35px;


}

.item {
    display: block;
}


.row {
    display: flex;
}


.pietanza span {
    color: #938463;
    float: right;
    width: 100%;
    font-size: 0.8rem;
    margin: 0;
    border-bottom: 0.7px dotted grey;
    text-align: right;
    padding-bottom: 5px;
}

#spazio-foto-button {
    display: none;
}

@media screen and (max-width: 768px) {
    #menu-prezzi {
        margin-left: 30px;
        margin-right: 30px;
    }

    .pietanza span {
        border: none;
        text-align: left;
        margin-top: 15px;
        font-size: 16px;
    }

    .row {
        flex-direction: column;
    }

    .pietanza p {
        width: 100%;
        font-size: 11px;
        font-weight: normal;

    }

    #spazio-foto-button {
        padding-top: 400px;
        padding-bottom: 300px;
    }


}