<form action="" class="" #f="ngForm">
  <label for="title" class="form-label">Titolo</label>
  <input
    class="form-control"
    type="text"
    placeholder="Titolo.."
    name="title"
    id="title"
    [(ngModel)]="data.title"
  />
  <label for="body" class="form-label">Contenuto</label>
  <textarea
    class="form-control"
    name="body"
    id="body"
    cols="30"
    rows="10"
    placeholder="Scrivi..."
    [(ngModel)]="data.body"
  ></textarea>
  <button (click)="addPost()" class="btn btn-success">Create post</button>
</form>
