.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-title {
  letter-spacing: -3px;
  font-weight: bold;
}

.c-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  height: 25px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.second-col {
  letter-spacing: -1px;
}

.randomImg {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  border-radius: 10px;
}
