<div class="container mt-5">
  <!-- <div class="form-group">
      <input
        class="form-control"
        type="text"
        id="search"
        [ngModel]="searchText"
        (ngModelChange)="searchKey($event)"
        placeholder="Search title..."
        ngModel
      />
    </div> -->

  <div class="row justify-content-between">
    <div class="col-md-6 col-xs-12">
      <div
        class="card mb-3"
        *ngFor="
          let single of randomizedCustomers
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
        style="max-width: 540px"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ single.photo1 }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{ single.address.beachName }}</h1>
              <p class="card-text">
                <i class="bi bi-geo-alt"></i> {{ single.address.street }},
                {{ single.address.zip }}, {{ single.address.city }},
                {{ single.address.state }}
              </p>
              <p class="card-text c-description">
                {{ single.address.beachDescription }}
              </p>
              <p class="card-text">
                <a
                  href="#"
                  class="btn btn-success d-grid"
                  [routerLink]="['/details', single.id]"
                  >Check</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="second-col col-6 d-flex justify-content-center align-items-center d-none d-md-block my-5"
    >
      <img
        class="randomImg"
        src="https://source.unsplash.com/random/1800x900/?beach"
        alt=""
      />
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row mt-4">
      <ngb-pagination
        [pageSize]="5"
        [collectionSize]="randomizedCustomers.length"
        [(page)]="page"
        [boundaryLinks]="true"
      >
        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="mb-3 d-flex flex-nowrap px-2">
              <label
                id="paginationInputLabel"
                for="paginationInput"
                class="col-form-label me-2 ms-1"
                >Page</label
              >
              <input
                #i
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                class="form-control custom-pages-input"
                id="paginationInput"
                [value]="page"
                (keyup.enter)="selectPage(i.value)"
                (blur)="selectPage(i.value)"
                (input)="formatInput($any($event).target)"
                aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 2.5rem"
              />
              <span
                id="paginationDescription"
                class="col-form-label text-nowrap px-2"
              >
                of {{ pages.length }}</span
              >
            </div>
          </li>
        </ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
