// @import "../../../../node_modules/sweetalert2/theme-bootstrap-4/bootstrap-4.scss";

.or-div {
  border-bottom: 1px solid lightgray;
  line-height: 16px;
  text-align: center;
}
.or-div span {
  background-color: white;
  position: relative;
  bottom: -8px;
  padding: 0 15px;
}
