body {
    animation: mymove 5s infinite;
    background-color: #4D96FF;
}

main {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 8%;
}

@keyframes mymove {
    0% {
        background-color: #FFF56D;
    }

    50% {
        background-color: #4D96FF;
    }

    100% {
        background-color: #FFF56D;
    }
}

/* @keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
    }

} */

.paragrafo,
.titolo {
    text-align: center;
    color: black;
}

p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
}

span {
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 5px;
}

.box-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 40px gray;
    height: 90%;
    width: 70%;
    z-index: 0;
    padding: 2rem 2rem 4rem 2rem;
    margin-top: auto;
}

.fenicottero,
.tigre,
.coccodrillo {
    text-align: center;
    animation: hue 2s infinite;
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
}

.fenicottero {
    color: palevioletred;
}

.tigre {
    color: #FF8C32;
}

.coccodrillo {
    color: #6BCB77;
}

@keyframes hue {
    0% {
        /* -webkit-filter: hue-rotate(0deg); */
        text-shadow: 0px 2px 4px gray;
        transform: scale(1);
    }

    50% {
        /* -webkit-filter: hue-rotate(360deg); */
        text-shadow: 0px 6px 20px lightgray;
        transform: scale(1.1);

    }

    100% {
        /* -webkit-filter: hue-rotate(0deg); */
        text-shadow: 0px 2px 4px gray;
        transform: scale(1);
    }

}