h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #808080;
  padding: 15px;
  font-weight: bold;
  background-color: #fff; }

p {
  font-size: 1rem;
  margin-top: 10px;
  color: #808080;
  padding: 15px;
  font-weight: 400;
  background-color: #000c8d; }

#p1 {
  color: red; }

#p2 {
  background-color: red;
  color: #fff;
  width: 33.33333px; }

#d1 {
  background-color: yellow;
  color: #000; }
