<div class="container-flex m-5">
  <div class="row d-flex justify-content-between">
    <div class="col-12"><h1 class="fw-bolder display-1">Beaches List</h1></div>
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalNewBeach"
      >
        New Beach
      </button>
      <button type="button" class="btn btn-success mx-2" (click)="onSaveData()">
        Save Data
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalNewBeach"
  tabindex="-1"
  aria-labelledby="newBeachLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBeachLabel">Add New Beach</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form-control" action="">
          <div class="row g-2">
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="name"
                placeholder="Name"
                [(ngModel)]="customer.name"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="lastname"
                placeholder="Last name"
                [(ngModel)]="customer.lastname"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="beachName"
                placeholder="Beach Name"
                [(ngModel)]="customer.address.beachName"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="beachNumber"
                placeholder="Beach Telephone Number"
                [(ngModel)]="customer.address.beachNumber"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="street"
                placeholder="Beach Street"
                [(ngModel)]="customer.address.street"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="city"
                placeholder="Beach City"
                [(ngModel)]="customer.address.city"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="state"
                placeholder="Beach State"
                [(ngModel)]="customer.address.state"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="zip"
                placeholder="Beach ZIP"
                [(ngModel)]="customer.address.zip"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="Owner Email"
                [(ngModel)]="customer.email"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="number"
                placeholder="Owner Telephone Number"
                [(ngModel)]="customer.number"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Password"
                [(ngModel)]="customer.password"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="beachDescription"
                placeholder="Description"
                [(ngModel)]="customer.address.beachDescription"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="area"
                placeholder="Beach Area (in m²)"
                [(ngModel)]="customer.area"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="bar"
                placeholder="Bar"
                [(ngModel)]="customer.bar"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="restaurant"
                placeholder="Restaurant"
                [(ngModel)]="customer.restaurant"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="shower"
                placeholder="Shower"
                [(ngModel)]="customer.shower"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="waiter"
                placeholder="Waiter service"
                [(ngModel)]="customer.waiter"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="photo1"
                placeholder="Photo 1 (URL)"
                [(ngModel)]="customer.photo1"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="photo2"
                placeholder="Photo 2 (URL)"
                [(ngModel)]="customer.photo2"
              />
            </div>
            <div class="col-12 col-md-6">
              <input
                class="form-control"
                type="text"
                name="photo3"
                placeholder="Photo 3 (URL)"
                [(ngModel)]="customer.photo3"
              />
            </div>
            <!-- <div class="col-12 col-md-6">
              <button class="btn btn-primary" (click)="saveNewUser()">
                Save
              </button>
              <button class="btn btn-warning" (click)="editUser()">Edit</button>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="saveNewCustomer()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-flex overflow-scroll">
  <h1 class="text-center" *ngIf="customers.length < 1 && !isFetching">
    List is empty!
  </h1>
  <table
    class="table table-striped table-bordered"
    *ngIf="customers.length >= 1 && !isFetching"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Personal Email</th>
        <th>Personal Number</th>
        <th>Beach details</th>
        <th>Description</th>
        <th>Area</th>
        <th>Services</th>
        <th>Photos</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.lastname }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.number }}</td>
        <td>
          <b>Name:</b> {{ customer.address.beachName }} <br />
          <b>Telephone number:</b> {{ customer.address.beachNumber }} <br />
          <b>Street:</b> {{ customer.address.street }} <br />
          <b>City:</b> {{ customer.address.city }} <br />
          <b>State:</b> {{ customer.address.state }} <br />
          <b>ZIP code:</b> {{ customer.address.zip }}
        </td>
        <td class="td-desc">
          <div class="beach-description">
            {{ customer.address.beachDescription }}
          </div>
        </td>
        <td>{{ customer.area }} m²</td>
        <td>
          Bar: {{ customer.bar }} <br />
          Restaurant: {{ customer.restaurant }} <br />
          Shower: {{ customer.shower }} <br />
          Waiter service: {{ customer.waiter }} <br />
        </td>
        <td class="beachPics">
          <div>
            <img src="{{ customer.photo1 }}" alt="" /> <br />
            <img src="{{ customer.photo2 }}" alt="" /><br />
            <img src="{{ customer.photo3 }}" alt="" /> <br />
          </div>
        </td>

        <!-- <td><button class="btn btn-primary">Mostra Indirizzo</button></td> -->

        <td>
          <button class="btn btn-warning" (click)="editCustomer()">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="removeCustomer(customer.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" *ngIf="isFetching">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
